.page {
  min-height: 100vh;
  width: 1280px;
  max-width: 100%;
  background-color: #2a2c2f;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
