.places {
  padding: 0 148px 0 145px;
}

@media screen and (max-width: 960px) {
  .places {
    width: 720px;
    padding: 0 24px 0 24px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 600px) {
  .places {
    width: 100%;
    padding: 0;
  }
}
