.lead {
  width: 76.875%;
  margin: 0 11.5625% 7.1875% 11.5625%;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/Inter-Black.woff2") format("woff2"),
    url("../fonts/Inter-Black.woff") format("woff");
}

.lead__title {
  text-align: center;
  font-family: "Inter", sans-serif;
  color: #ffffff;
  font-size: 96px;
  line-height: 1.04;
  margin: 0 /*auto*/ 9.756097561% 3.2520325203% /*auto*/ 9.6544715447%;
  max-width: 80.6% /*793px*/;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"),
    url("../fonts/Inter-Regular.woff") format("woff");
}

.lead__subtitle {
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 56.25%;
  margin: 0 auto 6.5040650407% auto;
  font-family: "Inter", sans-serif;
  color: #ffffff;
  font-size: 30px;
  line-height: 1.2;
}

.lead__image {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .lead {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 11.45833333333333%;
  }
}

@media screen and (max-width: 768px) {
  .lead__title {
    margin: 0 3.125% 4.166666666666667% 3.125%;
    max-width: 93.75%;
  }
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    margin: 0 3.125% 4.166666666666667% 3.125%;
    max-width: 93.75%;
  }
}

@media screen and (max-width: 768px) {
  .lead__image {
    width: 100%;
  }
}
