.footer {
  max-width: 165px;
  background-color: #2a2c2f;
  padding-bottom: 24px;
  margin: 0 auto;
}

.footer__copyright {
  max-width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

@media screen and (max-width: 600px) {
  .footer__copyright {
    line-height: 14px;
  }
}
