.photo-grid {
  max-width: 1184px;
  padding: 0 48px 92px 48px;
}

.photo-grid__gallery {
  list-style-type: none;
  width: 100%;
  margin: 0 auto 0 auto;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
}

.photo-grid__item {
  max-width: 100%;
}

.photo-grid__image {
  width: 100%;
}

@media screen and (max-width: 960px) {
  .photo-grid {
    padding: 0 24px 88px 24px;
  }
}

@media screen and (max-width: 960px) {
  .photo-grid__gallery {
    margin: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .photo-grid {
    padding: 0 16px 62px 16px;
  }
}

@media screen and (max-width: 600px) {
  .photo-grid__gallery {
    margin: 0;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-row-gap: 12px;
  }
}
