@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../../fonts/Inter-Regular.woff2") format("woff2"),
    url("../../../fonts/Inter-Regular.woff") format("woff");
}

.cover__subtitle {
  font-family: "Inter", sans-serif;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.22;
  margin: 0 38.17567567567568% 0 38.17567567567568%;
  padding-top: 6.358%;
  padding-bottom: 6.358%;
}

