@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../../../fonts/Inter-Regular.woff2") format("woff2"),
    url("../../../../fonts/Inter-Regular.woff") format("woff");
}

.place__artist {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 1.22;
  color: #ffffff;
}
