.header {
  display: flex;
  justify-content: center;
  padding: 34px 505px 90px 505px;
}

@media screen and (max-width: 960px) {
  .header {
    padding: 34px 249px 90px 249px;
  }
}

@media screen and (max-width: 600px) {
  .header {
    padding: 20px 60px 50.15px 60px;
  }
}
