.header {
  display: flex;
  justify-content: center;
  padding-top: 34px;
  padding-bottom: 90px;
}

@media screen and (max-width: 600px) {
  .header {
    padding-top: 20px;
    padding-bottom: 50.15px;
  }
}
