@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../../fonts/Inter Web/Inter-Regular.woff2") format("woff2"),
    url("../../../fonts/Inter Web/Inter-Regular.woff") format("woff");
}

.intro__quote {
  max-width: 91.7197452229%;
  margin-top: 0 8.280254777070064% 1.273885350318471% 0;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  line-height: 1.42;
}

@media screen and (max-width: 768px) {
  .intro__quote {
    max-width: 100%;
  }
}
