@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../../../fonts/Inter-Regular.woff2") format("woff2"),
    url("../../../../fonts/Inter-Regular.woff") format("woff");
}

.place__content {
  grid-area: content;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 1.63;
  color: #ffffff;
}
