@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../../fonts/Inter-Regular.woff2") format("woff2"),
    url("../../../fonts/Inter Web/Inter-Regular.woff") format("woff");
}

.intro__text {
  max-width: 91.7197452229%;
  margin: 0 8.2802547771% 0 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.63;
}

@media screen and(max-width:768px) {
  .intro__text {
    max-width: 100%;
  }
}
