.intro {
  color: #ffffff;
  width: 61.328125%;
  padding: 0 347px 118px 148px;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../../fonts/Inter-Black.woff2") format("woff2"),
    url("../../fonts/Inter-Black.woff") format("woff");
}

.intro__title {
  margin-top: 0;
  margin-bottom: 40px;
  max-width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 54px;
  line-height: 1.07;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Inter Web/Inter-Regular.woff2") format("woff2"),
    url("../../fonts/Inter Web/Inter-Regular.woff") format("woff");
}

.intro__quote {
  max-width: 720px;
  margin: 0 65px 10px 0;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  line-height: 1.42;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Inter Web/Inter-Regular.woff2") format("woff2"),
    url("../../fonts/Inter Web/Inter-Regular.woff") format("woff");
}

.intro__author {
  display: flex;
  justify-content: flex-end;
  max-width: 720px;
  margin: 0 65px 32px 0;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  line-height: 1.42;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Inter-Regular.woff2") format("woff2"),
    url("../../fonts/Inter Web/Inter-Regular.woff") format("woff");
}

.intro__text {
  max-width: 720px;
  margin: 0 65px 0 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.63;
}

@media screen and (max-width: 960px) {
  .intro {
    padding: 0 24px 90px 24px;
    width: 93.75%;
  }
}

@media screen and (max-width: 960px) {
  .intro__quote {
    max-width: 100%;
  }
}

@media screen and (max-width: 960px) {
  .intro__author {
    max-width: 100%;
  }
}

@media screen and (max-width: 960px) {
  .intro__text {
    max-width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .intro {
    width: 90%;
    padding: 0 16px 90px 16px;
  }
}

@media screen and (max-width: 600px) {
  .intro__title {
    max-width: 100%;
    margin-bottom: 40px;
    font-size: 32px;
    line-height: 1.09375;
  }
}

@media screen and (max-width: 600px) {
  .intro__quote {
    max-width: 100%;
    margin: 0 0 10px 0;
    line-height: 1.25;
  }
}

@media screen and (max-width: 600px) {
  .intro__author {
    max-width: 100%;
    margin: 0 0 32px 0;
  }
}

@media screen and (max-width: 600px) {
  .intro__text {
    max-width: 100%;
    margin: 0;
  }
}
