@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../../../fonts/Inter-Black.woff2") format("woff2"),
    url("../../../fonts/Inter-Black.woff") format("woff");
}

.cover__title {
  font-family: "Inter", sans-serif;
  color: #fffdfd;
  font-size: 72px;
  line-height: 1.06;
  margin-top: 8%;
  margin-bottom: 0;
  text-rendering: optimizeLegibility;
}
