.footer {
  background-color: #2a2c2f;
  padding-bottom: 24px;
  overflow: hidden;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Inter-Regular.woff2") format("woff2"),
    url("../../fonts/Inter-Regular.woff") format("woff");
}

.footer__copyright {
  display: flex;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

@media screen and (max-width: 960px) {
  .footer {
    padding: 0 302px 24px 301px;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    padding: 0 78px 24px 77px;
  }
}

@media screen and (max-width: 600px) {
  .footer__copyright {
    line-height: 14px;
  }
}
